h1{
	background: #f08080;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	text-align: center;

}
body{
background: #556270;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
i{
	color: white;

}
li span{
	background: #800000;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	display: inline-block;
	width: 0px;
	transition: 0.2s linear;
}
li:hover span{
	width: 40px;
	
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: black;
}

li:nth-child(3n){
	background: #ff0000;
	
}
input{
	font-size: 18px;
	background: #f7f7f7;

}
#row{
	width: 100%;
    box-sizing: border-box;
}


#container{
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
}

.completed{

	color: gray;
	text-decoration: line-through;
}